<?xml version="1.0" encoding="utf-8"?>
<package id="f4d27fe4-45ff-4b06-bbc2-3912f7228ac1" type="Services Package" typeId="df45eaf6-9202-4c25-8dd5-677e9ba1e906">
  <applicationId>c2588a19-32f0-4fc2-810e-527072187303</applicationId>
  <designerId>81104ae6-2bc5-4bae-b05a-f987b0372d81</designerId>
  <name>Mastermind</name>
  <externalReference>02166141-0285-48fc-a533-2d55114b2029</externalReference>
  <isExternal>false</isExternal>
  <sort-children p2:nil="true" xmlns:p2="http://www.w3.org/2001/XMLSchema-instance" />
  <metadataNamingConvention>use-element-name</metadataNamingConvention>
  <references>
    <reference packageId="730e1275-0c32-44f7-991a-9619d07ca68d" include="Intent.Common.CSharp" isExternal="true">
      <module>Intent.Common.CSharp</module>
    </reference>
    <reference packageId="870ad967-cbd4-4ea9-b86d-9c3a5d55ea67" include="Intent.Common.Types" isExternal="true">
      <module>Intent.Common.Types</module>
    </reference>
    <reference packageId="4ba53041-59f9-4446-a207-6da4fbdf86fe" include="Intent.Modelers.Services" isExternal="true">
      <module>Intent.Modelers.Services</module>
    </reference>
    <reference packageId="45fb22e9-f493-4de5-9fe0-845f783aa9d4" include="Intent.Modelers.Services.CQRS" isExternal="true">
      <module>Intent.Modelers.Services.CQRS</module>
    </reference>
    <reference packageId="22311807-29a2-4614-a20f-ef4c90cec689" include="Mastermind" isExternal="true">
      <path>../../Visual Studio/Mastermind/Mastermind.pkg.config</path>
    </reference>
    <reference packageId="130ba41c-beb4-4de4-8145-4bb65d258b3b" include="Qbic.Common" isExternal="true">
      <module>Qbic.Common</module>
    </reference>
    <reference packageId="33fc0330-4317-44ac-bed4-855e88a0e32c" include="Qbic.Conveyor" isExternal="true">
      <module>Qbic.Conveyor</module>
    </reference>
    <reference packageId="665b6c54-cc3d-4e73-890a-fe12e5ef43ec" include="Qbic.Dtos" isExternal="true">
      <module>Qbic.Dtos</module>
    </reference>
    <reference packageId="18348e6a-10fc-462e-9cff-1341b604ec94" include="Qbic.Rest" isExternal="true">
      <module>Qbic.Rest</module>
    </reference>
    <reference packageId="4cd8d289-7bdf-45fc-99a9-676349c51ddb" include="Qbic.Services" isExternal="true">
      <module>Qbic.Services</module>
    </reference>
    <reference packageId="8fa347ca-edbc-48c7-b3e7-a93deb402185" include="Qbic.Settings" isExternal="true">
      <module>Qbic.Settings</module>
    </reference>
  </references>
  <stereotypes>
    <stereotype stereotypeDefinitionId="393de405-ad15-4cc7-8d26-edd9792817c2" name="Service Package Settings">
      <addedByDefault>true</addedByDefault>
      <definitionPackageName>Qbic.Common</definitionPackageName>
      <definitionPackageId>130ba41c-beb4-4de4-8145-4bb65d258b3b</definitionPackageId>
      <properties>
        <property name="ad4ca883-d63e-4400-8756-2fa620fcb52e" display="Program Project References" isActive="true" />
        <property name="5ba16d7b-f822-4860-90c3-4136d46aefe1" display="Reference Data Objects" isActive="true" />
      </properties>
    </stereotype>
  </stereotypes>
  <metadata />
</package>