<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<clear />
		<add key="BrightRock-Production" value="http://packages.brightrock.co.za:8624/nuget/BrightRock-Production" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
	</packageSources>

	<disabledPackageSources>
		<add key="nuget.org" value="true" />
	</disabledPackageSources>

	<packageSourceMapping>
		<packageSource key="BrightRock-Production">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	
</configuration>
